.h-heads {
    margin-top: 30px;
}

.h-heads h3 {
    color: var(--orange-logo, #F60);
    font-family: Cairo;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.h-1 {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
}

.heads {
    width: 100%;
}

.heads .back {
    width: 100%;
}

.heads .captin {
    width: 535.769px;
    height: 559.272px;
    flex-shrink: 0;
    position: relative;
    bottom: 565px;
}