.videos-fanz h3 {
    color: #363C32;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--dark, #3C3732);
    font-size: 44px;
    font-weight: 700;
    margin-top: 100px;
}

.videos-fanz-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.videos-fanz-first {
    width: 30%;
    height: 306.888px;
    flex-shrink: 0;
    border-radius: 9.071px;
    position: relative;

}

.videos-circle {
    position: absolute;
    cursor: pointer;
    right: 100px;
    top: 80px;
}

.videos-fanz-second {
    width: 60%;
    height: 305.959px;
    flex-shrink: 0;
    border-radius: 9.071px;
    background: #F5F5F5;
    box-shadow: 0px 9.071px 25.927px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos-fanz-second p {
    margin: 10px;
    height: 154.2px;
    flex-shrink: 0;
    color: var(--dark, #3C3732);
    font-size: 33.259px;
    font-weight: 400;

}

.videos-fanz-second-content {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.videos-fanz-second-content div {
    color: #7D858B;
    font-size: 22.676px;
    font-weight: 400;
}

.videos-fanz-second-content div span {
    margin-left: 10px;
}