.slide-home {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    margin-top: 80px;

    .home-slide-item {
        position: relative;

        img {
            width: 100%;
            height: 500px;
        }

        p {
            position: absolute;
            bottom: 20px;
            left: 25%;
            color: rgb(243, 241, 241);
            font-weight: 400;
            font-size: 25px;
            margin-bottom: 150px;
        }
    }

    .carousel-inner,
    .carousel-item {
        height: 90%;
    }

    .carousel-item img {
        height: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: black;
        color: white;
        width: 40px;
        height: 100px;
        position: absolute;
        top: 30%;

        &:hover {
            background-color: #00000088;
            color: #FFFFFF88;
        }
    }

    .carousel-control-prev-icon {
        left: 0px;
    }

    .carousel-control-next-icon {
        right: 0px;
    }
}



/* Responsive on 600px */
@media (max-width : 600px) {
    .slide-home {
        .home-slide-item {

            p {
                left: 0px;
                bottom: -50px;
            }
        }
    }

}