@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Cairo';
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Zeina styles*/
:root {
  --main-color: rgba(16, 39, 143, 1);
  --second-color: rgba(255, 102, 0, 1);
  caret-color: var(--main-color);
}

::selection {
  background-color: var(--main-color);
}