@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/styles/flexBox.scss";
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Cairo';
}

a {
  text-decoration: none;
}


.loading-spinner {
  width: 100%;
  height: 100%;
  background-color: #000000AA;
  color: white;
  div{
    width : 80px;
    height: 80px;
  }
}

/* Zeina colors */
:root {
  --main-color: rgba(16, 39, 143, 1);
  --second-color: rgba(255, 102, 0, 1);
}