.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flexCenterColumnStartItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexStartColumnStartItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBetweenColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}